<div class="flex pb-6 md:pb-0 lg:pb-0 justify-content-between lg:align-items-center md:align-items-center flex-column md:flex-row lg:flex-row">
  <div>
    <h3 data-testid="subheading">{{ cardTitle() }}</h3>
  </div>
  <div>

    @if (!selectedStatus && allowSwitchView()) {
      <p-buttonGroup>
        <p-button [severity]="selectedView === appointmentsViewSwitcherEnum.TABLE ? 'secondary' : 'primary'"
                  styleClass="mt-2"
                  label="Table View"
                  data-testid="week-button"
                  icon="pi pi-table"
                  (onClick)="changeView(appointmentsViewSwitcherEnum.TABLE)"
        ></p-button>
        <p-button [severity]="selectedView === appointmentsViewSwitcherEnum.CALENDAR ? 'secondary' : 'primary'"
                  styleClass="mt-2"
                  label="Calendar View"
                  data-testid="month-button"
                  icon="pi pi-calendar"
                  (onClick)="changeView(appointmentsViewSwitcherEnum.CALENDAR)"
        ></p-button>
      </p-buttonGroup>
    }
  </div>

</div>
<div class="flex flex-1 overflow-hidden">
  @if (selectedView === appointmentsViewSwitcherEnum.CALENDAR) {
    <app-doctor-appointments-calendar
      [allowChangeInterval]="false"
      [allowChangeView]="false"
      [selectedView]="calendarSelectedView"
    ></app-doctor-appointments-calendar>
  } @else {
    <app-doctor-appointments-table
      [displayOnlyThisWeek]="true"
      [selectedStatus]="selectedStatus"
      [displayOnlyMyAppointments]="displayOnlyMyAppointments()"
    ></app-doctor-appointments-table>
  }
</div>
