@if ((currentUser$ | async); as user; ) {
  <h1 data-testid="heading">{{ pageTitle }}, {{ user.firstName }}</h1>
}

<div class="flex align-items-center justify-content-between">
  <h2 data-testid="subheading">Appointments this week</h2>
  <div>
    <p-button icon="pi pi-table"
              data-testid="view-all-button"
              label="View All" styleClass="p-button-primary" (onClick)="viewAllAppointments()"></p-button>
  </div>
</div>
<app-my-appointments-patient-view
  [patientContainer]="false"
  [displayOnlyThisWeek]="true"
  [displayPageTitle]="false"
  [allowAddAppointment]="false">
</app-my-appointments-patient-view>
