.first-col {
  width: 80px;
  font-weight: bold;
}

.disabled-day {
  opacity: 0.5;
  pointer-events: none;
}

.working-hours-scrollable {
  table {
    table-layout: fixed;
    td {
      width: 100px;
      min-width: 100px;
    }
  }
}
