p-table {
  height: 100%
}

.p-datatable {
  border: 1px solid #e8e8e8;
  border-radius: $border-radius;
  border-collapse: collapse;

  .p-datatable-header {
    background: #f9f9f9;
    border-radius: $border-radius $border-radius 0px 0px;
    padding: 10px;
  }

  .p-datatable-wrapper {

    border-radius: $border-radius;
  }

  .p-sortable-column .p-icon-wrapper {
    display: flex;
  }

  .p-component-overlay {
    background: rgba(255, 255, 255, 0.5);
  }

  th {
    background: #f9f9f9;
    font-weight: bold;
    padding: 5px;

    &:first-child {
      border-radius: $border-radius 0px 0px 0px;
    }
  }

  .p-paginator {
    border-radius: 0px 0px $border-radius $border-radius;
    background: $white;
  }

  .p-paginator-bottom {
    border: 0px;
  }

  td {
    padding: 5px;
  }
}

.p-datatable .p-datatable-tbody > tr > td {
  border-color: #e8e8e8;
}


.p-column-filter-constraints {
  .p-inputtext {
    border-radius: 5px;
  }

  [role="spinbutton"] {
    border-radius: 5px 0px 0px 5px;
  }

  .p-inputnumber-button-group
  button {

    &:first-child {
      border-radius: 0px 5px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 5px 0px;
    }
  }
}
