<div class="forgot-page grid w-full h-full">
  <div class="md:col-7 sm:col-12 sm:d-none"></div>
  <div class="md:col-5 sm:col-12 forgot-form flex h-full">
    <div class="w-full flex md:align-items-center justify-content-center">
      <div class="forgot-card relative">
        @if (loading) {
          <div class="loading-overlay flex-row z-2 flex align-items-center justify-content-center" data-testid="spinner">
            <p-progressSpinner></p-progressSpinner>
          </div>
        }
        <div class="logo flex flex-row" data-testid="logo">
          <app-logo></app-logo>
        </div>
        <h1 data-testid="heading">Forgot Password</h1>
        @if (formToDisplay === fieldToDisplayEnum.REQUEST_NEW_PASSWORD) {
          <p data-testid="description-enter-email">Enter your email address and we'll send you a code to reset your password</p>

          <div>
            @if (error) {
              <p-message data-testid="error-message" [text]="error" styleClass="flex mb-3 justify-content-start w-full"
                         severity="danger"></p-message>
            }
          </div>
          <div>
            <form [formGroup]="requestNewPasswordForm" (submit)="onRequestNewPassword()">
              <app-form-label
                label="Email"
                iconClass="pi pi-envelope"
                [controlInput]="requestNewPasswordForm.controls['email']"
              >
                <input pInputText
                       invalidField
                       class="w-full"
                       data-testid="email-input"
                       formControlName="email"
                       id="email"
                       [maxlength]="120"
                />
              </app-form-label>
              <div class="flex w-full">
                <div class="mt-4">
                  <button pButton
                          class="p-button-primary"
                          data-testid="submit-email"
                          type="submit"
                          label="Send Code">
                  </button>
                </div>
              </div>
            </form>
          </div>
        } @else if (formToDisplay === fieldToDisplayEnum.VALIDATE_OTP) {
          <p data-testid="description-enter-code">An OTP has been sent to your email address. Please enter the code below. </p>
          <div>
            @if (error) {
              <p-message data-testid="otp-error" data-testid="error-otp" [text]="error"
                         styleClass="flex mb-3 justify-content-start w-full" severity="danger"></p-message>
            }
            @if (success) {
              <p-message data-testid="otp-success" data-testid="success-otp" [text]="success"
                         styleClass="flex mb-3 justify-content-start w-full" severity="success"></p-message>
            }
          </div>
          <form [formGroup]="validateOtpForm" (submit)="onValidateOtp()">
            <app-form-label
              [controlInput]="validateOtpForm.controls['otp']"
            >
              <p-inputOtp formControlName="otp"
                          data-testid="input-otp-component" [length]="6" [integerOnly]="true"></p-inputOtp>
            </app-form-label>
            <div class="flex w-full">
              <div class="mt-4">
                <button pButton
                        type="submit"
                        data-testid="validate-otp-button"
                        class="p-button-primary"
                        label="Submit Code">
                </button>
              </div>
              <div class="mt-4">
                <p-button
                  [link]="true"
                  type="button"
                  label="Resend Code"
                  data-testid="resend-otp-button"
                  (click)="requestNewCode()">
                </p-button>
              </div>
            </div>
          </form>

        } @else if (formToDisplay === fieldToDisplayEnum.SET_NEW_PASSWORD) {
          <p data-testid="description-insert-pass">Please insert your new password in the fields below</p>
          <div>
            @if (error) {
              <p-message [text]="error" styleClass="flex mb-3 justify-content-start w-full" severity="danger"></p-message>
            }
          </div>
          <form [formGroup]="newPassForm" (submit)="onResetPassword()">
            <app-form-label
              label="Password"
              iconClass="pi pi-lock"
              styleClass="mt-4"
              [controlInput]="newPassForm.controls['password']"
            >
              <input pInputText
                     invalidField
                     class="w-full"
                     type="password"
                     formControlName="password"
                     id="password"
                     [maxlength]="30"
              />
            </app-form-label>

            <app-form-label
              label="Confirm Password"
              iconClass="pi pi-lock"
              styleClass="mt-4"
              [controlInput]="newPassForm.controls['confirmPassword']"
            >
              <input pInputText
                     invalidField
                     class="w-full"
                     data-testid="confirm-password-input"
                     type="password"
                     formControlName="confirmPassword"
                     id="confirmPassword"
                     [maxlength]="30"
              />
            </app-form-label>
            <div class="flex w-full">
              <div class="mt-4">
                <button pButton
                        type="submit"
                        data-testid="reset-password-button"
                        class="p-button-primary"
                        label="Reset Password">
                </button>
              </div>
            </div>
          </form>
        }

      </div>
    </div>
  </div>
</div>
