$default-font-family: Poppins, Arial, sans-serif;
$default-font-size: 12px;
$default-font-color: #333448;
$primary-color: #3F51B5;
$secondary-color: #ff0068;
$success-color: #4CAF50;
$danger-color: #F44336;
$border-radius: 8px;

$white: #FFFFFF;
$gray: #6c6c6c;

$error-field-color: #B00020;


$appointment-status-requested: #f39c12;
$appointment-status-confirmed: #27ae60;
$appointment-status-completed: #27a8ae;
$appointment-status-cancelled: #565656;

